/* @import url("https://fonts.googleapis.com/css?family=Open+Sans"); */

html {
  font-family: Arial;
  font-size: 16px;
  background: rgb(14, 103, 204);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}


.h7 {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
}

.h8 {
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100%;
  background: rgb(1, 46, 97);
  font-size: 0.65em;
}

.sidebar2 {
  display: none;
}


.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

.twitter {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
  
      
}
.twitter .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  position: absolute;
}
.twitter a {
  position: relative;
}
.twitter a img {
  width: 48px;
  height: 48px;
}
.twitter p {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: #FFF;
  font-weight: bold;
  margin-top: 20px;
}

.anti-overlap {
z-index: 0;
width: 100%;
justify-content: space-around;
flex-wrap: wrap;
position: absolute;
top: 10px;
max-width: 100%;
max-height: 100%;
}

.btn {
  margin-top: 10px;
  margin-left: 30px;
  background-color: rgb(68, 255, 30);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  z-index: 9;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(41, 199, 10);
}


.jumbotron { 
  padding: 10px; /* fills out the jumbotron */
  background-color: rgb(14, 103, 204);
}

.container {
  width: 1170px; /* specify a width */
  margin: 0 auto;  /* centers the container */
  padding: 0 15px; /* adds some padding to the left and right*/
}

.jumbotron .container { 
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
  
}

.jumbotron2 { 
  padding: 20px; /* fills out the jumbotron */
  background-color: rgba(1, 46, 97, 0.541);
  width: 75%;
  float: right;
  position: relative;
  margin-right: -30px;
}

.jumbotron h1 { 
  text-align: center; /* centers the heading */
  color: #DDD;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}


#parent { white-space: nowrap; }
.child { display: inline-block; }



/*****************************CARD CSS************************************/
/*****************************CARD CSS************************************/
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  top: 20px;

}


.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.cardaf {
  width:120px;
  height:240px;
  margin: 30px auto;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.cardaf:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.title-white {
  color: white;
}

.title-black {
  color: black;
}


/*****************************CARD CSS END************************************/
/*****************************CARD CSS END************************************/



/*****************************business CSS ************************************/
/*****************************business CSS ************************************/



.cardb {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
  border-radius: 5px;
  border-radius: 10px 10px 20px 20px;
}

.cardb:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

img.cardb {
  border-radius: 5px 5px 0 0;
}

.containerb {
  padding: 2px 18%;
  background-color: rgba(255, 255, 255, 0.849);
  border-radius: 0px 0px 20px 20px;
  
}





/*****************************business CSS end ************************************/
/*****************************business CSS end************************************/
@media only screen and (max-width: 700px) {

    .sidebar {
      visibility:hidden;
    }

    .sidebar2 {
      display:block;
      position: fixed;
      width: 10%;
      height: 100%;
      background: rgb(1, 46, 97);
      font-size: 0.65em;
      z-index: 9;
    }

    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      max-width: 100;
      
    }

    .cards-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      max-width: 100;
      top:20px;
    }

    .twitter {
      position: relative;
      width: 100%;
      float: right;
      height: 100vh;
      max-width: 100%;

    }

    .jumbotron2 { 
      padding: 20px; /* fills out the jumbotron */
      background-color: rgba(1, 46, 97, 0.541);
      width: 100%;
      float: right;
      position: relative;
    }

  

  }